---
name: Run python tests
on: ["push", "pull_request"]  # yamllint disable-line rule:truthy

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                python-version: ["py311", "py312", "py313"]

        steps:
        - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6
        - name: Set up Python ${{ matrix.python-version }}
          uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41  # v7
        - name: Install tox
          run: uv tool install tox --with tox-uv
        - name: run tests
          run: uv tool run tox -e ${{ matrix.python-version }}
